@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
 

my view

<br />
@ViewBag.MovieName
<br />
@ViewBag.Year
<br />
@ViewBag.Test @*this will print nothing*@

@if (ViewData.ContainsKey("myList"))
    @if (ViewData["myList"] != null)
        @foreach (var item in (List<int>)ViewData["myList"])
        {
            @item.ToString("N0")
            ;
            <br />
        }

<br />
@TempData["foo"]

@Context.Session.GetString("a")

<hr />

@*<div>
    @await Component.InvokeAsync("PriorityList", new { maxPriority = 4, isDone = true })
</div>*@

 <div>

     <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>

    jQuery.extend({
    getValues: function(url) {
        var result = null;
        $.ajax({
            url: url,
            type: 'get',
            async: true,
            success: function(data) {
                result = data;
                $('main').append(result);
            }
        });
       return result;
    }
});

var results = $.getValues("/home/PriorityList");

 


</script>
</div>