@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model lecture_1.Models.ParentMovieListing//model is for defining the model type




@{
    if (@Model?.moviesList != null)//Model equal to the object sent from controller
    {
        <table>
            @foreach (var perMovie in @Model.moviesList.MoviesList)
            {
                <tr>
                    <td>Movie Name: <a href="MovieDetails/@perMovie.MovieName.Replace(" ","_")">@perMovie.MovieName</a> </td>
                </tr>
            }
        </table>
    }
}

@{
    if (@Model?.perMovie != null)//Model equal to the object sent from controller
    {
        <table>
                <tr>
                    <td>Movie Id: @Model.perMovie.MovieId</td>
                    <td>Movie Name: @Model.perMovie.MovieName</td>
                    <td>Movie Genre: @Model.perMovie.MovieGenre</td>
                    <td>Movie Year: @Model.perMovie.MovieYear</td>
                </tr>
        </table>
    }
}